@font-face {
    font-family: 'FrizQuadrata';
    font-style: normal;
    font-weight: 400;
    src: url('./FrizQuadrata/friz-quadrata.otf');
}

@font-face {
    font-family: 'FreightBigPro';
    font-style: normal;
    font-weight: 400;
    src: url('./FreightBigPro/FreightBigProBook.otf');
}

@font-face {
    font-family: 'FreightBigProSemibold';
    font-style: normal;
    font-weight: 800;
    src: url('./FreightBigPro/FreightBigProSemibold.otf');
}

@font-face {
    font-family: 'FreightBigProMediumItalic';
    font-style: italic;
    font-weight: 400;
    src: url('./FreightBigPro/FreightBigProMediumItalic.otf');
}

@font-face {
    font-family: 'ProximaNovaRegular';
    font-style: normal;
    font-weight: 400;
    src: url('./ProximaNova/ProximaNovaRegular.otf');
}