@font-face {
    font-family: 'FrizQuadrata';
    font-style: normal;
    font-weight: 400;
    src: url('./FrizQuadrata/friz-quadrata.otf');
}

@font-face {
    font-family: 'ProximaNovaSemiBold';
    font-style: normal;
    font-weight: 400;
    src: url('./ProximaNova/ProximaNovaSemiBold.otf');
}

@font-face {
    font-family: 'ProximaNovaBold';
    font-style: normal;
    font-weight: 400;
    src: url('./ProximaNova/ProximaNovaBold.otf');
}

@font-face {
    font-family: 'ProximaNovaBlack';
    font-style: normal;
    font-weight: 400;
    src: url('./ProximaNova/ProximaNovaBlack.otf');
}

@font-face {
    font-family: 'ProximaNovaRegular';
    font-style: normal;
    font-weight: 400;
    src: url('./ProximaNova/ProximaNovaRegular.otf');
}

@font-face {
    font-family: 'ProximaNovaThin';
    font-style: normal;
    font-weight: 400;
    src: url('./ProximaNova/ProximaNovaThin.otf');
}

@font-face {
    font-family: 'FreightDispBlack';
    font-style: normal;
    font-weight: 400;
    src: url('./FreightDisplayPro/FreightDispBlack.otf');
}

@font-face {
    font-family: 'FreightDispBlackItalic';
    font-style: italic;
    font-weight: 400;
    src: url('./FreightDisplayPro/FreightDispBlackItalic.otf');
}

@font-face {
    font-family: 'FreightDispBold';
    font-style: normal;
    font-weight: 400;
    src: url('./FreightDisplayPro/FreightDispBold.otf');
}

@font-face {
    font-family: 'FreightDispBoldItalic';
    font-style: italic;
    font-weight: 400;
    src: url('./FreightDisplayPro/FreightDispBoldItalic.otf');
}

@font-face {
    font-family: 'FreightDispBook';
    font-style: normal;
    font-weight: 400;
    src: url('./FreightDisplayPro/FreightDispBook.otf');
}

@font-face {
    font-family: 'FreightDispBookItalic';
    font-style: italic;
    font-weight: 400;
    src: url('./FreightDisplayPro/FreightDispBookItalic.otf');
}

@font-face {
    font-family: 'FreightDispMedium';
    font-style: normal;
    font-weight: 400;
    src: url('./FreightDisplayPro/FreightDispMedium.otf');
}

@font-face {
    font-family: 'FreightDispMediumItalic';
    font-style: italic;
    font-weight: 400;
    src: url('./FreightDisplayPro/FreightDispMediumItalic.otf');
}

@font-face {
    font-family: 'FreightDispSemibold';
    font-style: normal;
    font-weight: 400;
    src: url('./FreightDisplayPro/FreightDispSemibold.otf');
}

@font-face {
    font-family: 'FreightDispSemiboldItalic';
    font-style: italic;
    font-weight: 400;
    src: url('./FreightDisplayPro/FreightDispSemiboldItalic.otf');
}